/* user_input.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    text-align: center;
    padding-top: 50px; 
}

h1 {
    font-size: 3.5rem; 
    color: #ca0000; 
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 500px; 
    padding: 25px;
    background-color: black; 
}

label {
    display: block;
    font-size: 1.4rem; 
    margin-bottom: 5px;
}

input, select {
    width: 100%; 
    padding: 10px; 
    font-size: 1.1rem; 
    background-color: black; 
    color: white;
    border: 1px solid #ca0000; 
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px; 
    background-color: #a30000; 
    color: white;
    font-size: 1.4rem; 
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button:hover {
    opacity: 0.8;
}
