/* welcome.css */

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: #ca0000; 
    margin-bottom: 0.25rem;
}

p.description {
    color: #ca0000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    max-width: 600px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

a {
    padding: 0.75rem 1.5rem;
    background-color: #a30000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2rem;
}

a:hover {
    opacity: 0.8;
}
